<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %>,
      <%= book.genre %>, 
      <%= book.author %>,
      <%= book.date_published %>
      <%= link_to('delete this book', admin_book_path(book.id), method: :delete) %>
    </li>
  <% end %>
</ul>
