<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<a href="<%= admin_books_path %>">Books</a>
		<a href="<%= new_admin_book_path %>">Add new book</a>
	</header>
<%= yield %>

</body>
</html>
